.basic-btn {
    background-color: #ffffff;
    padding: 12px;
    box-shadow: none;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.btn-circle {
    background-color: #3f89ff; /*37c5df / 26f9bb / 4371f0*/
    width: 72px;
    height: 72px;
    border-radius: 36px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-circle .MuiSvgIcon-root {
    color: #ffffff;
    font-size: 48px;
}

.btn-circle:focus,
.MuiSvgIcon:focus {
    outline: 0 !important;
}
