.contact-column {
    margin: 8px 0 8px 0;
    background-color: #fff;
}

.MuiCardContent-root {
    padding: 0;
}

.MuiGrid-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 28px;
    align-items: center;
}

.contact-tag {
    padding-left: 16px;
    font-size: 12px;
}

.contact-column input,
.contact-column input:focus {
    width: 100%;
    border: 0px;
    outline: 0px;
    height: 16px;
}
