.ReactCrop__image {
    display: block;
    max-width: 92vw;
    max-height: 76vh;
}

/* .ReactCrop {
    width: 96vw;
    max-height: 80vh;
    overflow-y: scroll;
} */

.CropperContainer {
    /* height: 64vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
