.title-name {
    font-weight: 700;
    background: -webkit-linear-gradient(0deg, #3f89ff, #27ffbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-body {
    display: flex;
    align-items: center;
    padding: 12px;
}

.card-title {
    margin: 0;
}

.mb-2,
.card-subtitle {
    margin: 0 !important;
}
