.basic-btn-gp {
    display: flex;
    /* height: 80px; */
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.register-btn {
    margin-bottom: 12px;
}

.MuiButton-outlined {
    width: 100px;
    margin: 4px !important;
    background-color: #2fc9dd !important;
    color: #ffffff !important;
}

.MuiButton-label {
    font-weight: 600 !important;
}

.g-button button {
    width: 220px !important;
    font-weight: bold 700 !important;
}

.fb-button button {
    width: 220px !important;
    padding: 16px 12px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
        rgba(0, 0, 0, 0.24) 0px 0px 1px 0px !important;
    border: 1px solid transparent !important;
    border-radius: 2px !important;
    /* margin-bottom: 12px !important; */
}

@media screen and (max-width: 360px) and (max-width: 375px) and (max-width: 411px) and (max-width: 414px) {
    .MuiPaper-root {
        width: 84vw !important;
    }
    .MuiButton-outlined {
        width: 32vw;
    }
}
