@keyframes move_wave {
    0% {
        transform: translateZ(0) scaleY(1);
        left: -100%;
    }
    50% {
        transform: translateZ(0) scaleY(0.55);
        left: 0;
    }
    100% {
        transform: translateZ(0) scaleY(1);
        left: -100%;
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -10;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    /* background-image: linear-gradient(to top, #86377b 20%, #27273c 80%); */
}
.bgTop {
    z-index: 15;
    opacity: 0.32;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.6;
}
.bgBottom {
    z-index: 5;
    opacity: 0.84;
}
.wave {
    position: fixed;
    left: 0;
    width: 240%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 100% 24vh;
}
.waveAnimation .waveTop {
    animation: move-wave 4s linear infinite alternate;
    -webkit-animation: move-wave 4s linear infinite alternate;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.waveMiddle {
    background-size: 100% 36vh;
}
.waveAnimation .waveMiddle {
    animation: move_wave 24s linear infinite alternate;
}
.waveBottom {
    background-size: 100% 32vh;
}
.waveAnimation .waveBottom {
    animation: move_wave 36s linear infinite alternate;
}
