body {
  min-height: 100%;
  max-width: 100vw;
  background: linear-gradient(124deg, #faeaeb, #e59fb9);
  background-size: 1800% 1800%;
  color: #ffffff;
  position: relative;
  /* overflow: hidden; */

  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

#icons {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  /* Center text */
  /* text-align: center; */
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
}

#icons::before {
  z-index: -1;
  background: url("./pattern_full.svg") no-repeat center center;
  background-size: cover;
  content: "";
  width: 150vw;
  height: 150vw;
  position: absolute;
  left: -300px;
  animation: spin 200s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler {
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#navbarSupportedContent {
  text-align: center;
}

.main-title {
  text-align: center;
  padding: 50px 0 40px;
}

#main-title {
  background: -webkit-linear-gradient(45deg, #DF678C, #E59FB9) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#logo {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

html,
body {
  min-height: 100%;
}

a {
  color: inherit;
}

.navbar-expand-lg {
  border-radius: 20px 20px 0 0;
}
.cont {
  max-width: 50vw;
  min-height: 98vh;
  background-color: #df678c;
  box-shadow: 0 0 30px grey;
  margin-top: 1vh;
  box-sizing: content-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  border-radius: 20px;
}

.btn-success {
  background: #df678c;
  border: none;
  border: solid 1px #df678c;
  margin: 4px 0 4px;
  border-radius: 8px;
}

.btn-success:hover {
  color: #df678c;
  background: #ffffff;
  border: solid 1px #df678c;
}

.btn-success:focus,
.btn-success:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: rgb(196, 5, 94);
  border-color: rgb(196, 5, 94);
  box-shadow: 0 0 0 0.2rem rgb(196, 5, 94, 0.5);
}

.btn-primary,
.btn-outline-success {
  background: #faeaeb;
  border: none;
  border: solid 1px #faeaeb;
  border-radius: 8px;
  margin: 4px;
  color: #df678c;
}

.btn-primary:hover,
.btn-outline-success:hover {
  color: #faeaeb;
  background: #df678c;
  border: solid 1px #faeaeb;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgb(196, 5, 94, 0.5);
  background-color: #df678c;
  border-color: #df678c;
}

.os-animation {
  opacity: 0;
}

.os-animation.animated {
  opacity: 1;
}

#usernameDiv img {
  border-radius: 50px;
  margin: 2px;
}

#usernameDiv {
  margin: 0 10px 0 10px;
}

.dish-text, .area-text {
  color: #df678c
}

@keyframes button {
  from {
    background-color: rgb(236, 236, 236);
  }
  to {
    background-color: white;
  }
}

@media screen and (max-width: 1024px) {
  .cont {
    max-width: 70vw;
  }

  #icons::before {
    z-index: -1;
    background: url("./pattern_full.svg") no-repeat center center;
    background-size: cover;
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    left: -450px;
    animation: spin 200s linear infinite;
  }
  #find-dinning-01 {
    width: 100%;
    padding: 20px 0 20px 0
}
}

@media screen and (max-width: 768px) {
  .cont {
    max-width: 85vw;
  }

  #logo {
    max-width: 300px;
    display: block;
    margin: 0 auto;
  }

  #icons::before {
    z-index: -1;
    background: url("./pattern_full.svg") no-repeat center center;
    background-size: cover;
    content: "";
    width: 300%;
    height: 200%;
    position: absolute;
    left: -750px;
    animation: spin 200s linear infinite;
  }
  #find-dinning-01 {
    width: 100%;
    padding: 20px 0 20px 0
}
}

@media screen and (max-width: 400px) {
  .cont {
    max-width: 90vw;
  }

  .navbar-brand {
    flex-grow: 1 !important;
  }

  .navbar-toggler {
    display: block;
    margin: 0 auto;
  }

  #icons::before {
    z-index: -1;
    background: url("./pattern_full.svg") no-repeat center center;
    background-size: cover;
    content: "";
    width: 300%;
    height: 100%;
    position: absolute;
    left: -350px;
    top: -100px;
    animation: spin 200s linear infinite;
  }

  #logo {
    max-width: 200px;
    display: block;
    margin: 0 auto 0;
  }


  #find-dinning-01 {
    width: 100%;
    padding: 20px 0 20px 0
}
}
