.notice-display{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(220, 220, 220, 0.4);

}

#notice{
    min-width:40vw;
    max-width:90vw;
    min-height:30vh;
    background: linear-gradient(to right, #FFFFFF, #ffe9f1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(207, 89, 144);
    position: relative;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size:1.5rem;
    border: 3px solid rgb(207, 89, 144);
}

.msgButton {
	box-shadow:inset 0px 1px 0px 0px #E59FB9;
	background: #E59FB9 ;
	background-color :rgb(207, 89, 144);
	border-radius:6px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    transition: background-color .2s
    
}
.msgButton:hover {
    background-color:rgb(196, 5, 94);
    transition: background .2s, background-color .2s
}
.msgButton:active {
	position:relative;
	top:1px;
}

#notice-msg{
    text-align:center;
    width:100%
}

#loginInFormDiv{
    box-sizing: border-box; 
    display:flex;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 1rem;
    padding: 0 5vw 0 5vw;
    background: rgb(236, 236, 236, 0.5)

} 

.login-card-body {
    /* border-radius: 20px; */
    padding: 15px;
    max-width:50vh;
}

.fa-user, .fa-key {
    color: #DF678C
}

.hidden{
    display:none;
}

.content-area {
    padding: 0 30px 0 30px;
    text-align: center;
}

#find-dinning-01 {
    width: 500px;
    padding: 30px 0 30px 0
}

#aboutUsFeatures {
    text-align: justify;
    padding: 20px 0 50px 0


}

.form-check{
    display:flex;
    justify-content: space-between;
}


