
.hidden{
    margin-left: -305px;
}

@media screen and (max-width: 768px) {
    .character {
        margin: 0 auto 0 auto !important;
    }  
    .cont{
        max-width: 100vw;}

}

form > div{
    text-align: center;
}

label.col-sm-5 {
    text-align: left
}

#logo {
    max-height:90vh;
}

#accordion-price {
    padding: 32px 0 32px;
}

#accordion {
    padding: 32px 0 32px;
}

#loginInForm {
    background: linear-gradient(0deg, #ffd6e3, #E59FB9 60%);
    border: solid thick #FFFFFF;
    margin: 7px 0 7px;
    border-radius: 20px;
    padding: 7px;
}

#submit {
    background: #DF678C;
    border: none;
    border: solid 1px #DF678C;
    margin: 4px 0 4px;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 5px;
}

#submit:hover {
    color: #E59FB9;
    background: #FFFFFF;
    border: solid 1px #E59FB9;
    
}

.form{
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-top: 10px;
}

.button{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 75px;
    height: 60px;
    margin: 2px;
    background-color: rgb(236, 236, 236) ;
}

.dish-text, .area-text, .terms {
    color: #DF678C
}
