
.information{
    width: 100%;
    height: 50%;
    display: flex;
}

.buttonGroup{
    width: 50%;

}

.cont{
    max-width:50vw;
    min-height:98vh;
    background-color: #DF678C;
    box-shadow: 0 0 30px grey;
    margin-top:1vh;
    box-sizing:content-box;
    padding:0;
    display:flex;
    flex-direction: column;
    Overflow: hidden;
    border-radius: 20px;
}

.inputButton{
    background-color: rgb(236, 236, 236);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.inputButton img{
    height:  20px;
    margin: 0;
}


/* .button{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 75px;
    height: 60px;
    margin: 2px;
    background-color: rgb(236, 236, 236) ;
} */

.category{
    font-size: 10px;
    word-break: break-all;
}

.button:hover{
    animation-name: button;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.recordSheet{
    background-color: white;
    width: 50%;
    height: 50%;
}

/* .pet img{
    width: 250px;
} */

.table img{
    height: 20px;
}

.active-button{
    background-color: white;
}

.record{
    padding: 20px;
    background-color: white;
    
}

.scrollbar{
    height: 290px;
}

button{
    margin-left: 10px;
}


#editInForm {
    background: linear-gradient(0deg, #ffd6e3, #E59FB9 60%);
    border: solid thick #FFFFFF;
    margin: 7px 0 7px;
    border-radius: 20px;
    padding: 7px;
}

#submit {
    background: #DF678C;
    border: none;
    border: solid 1px #DF678C;
    margin: 4px 0 4px;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 5px;
}

#submit:hover {
    color: #E59FB9;
    background: #FFFFFF;
    border: solid 1px #E59FB9;
    
}

.form{
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-top: 10px;
}

#accordion-price {
    padding: 32px 0 16px;
}

#accordion {
    padding: 32px 0 32px;
}

