/* For SwitchFlex(Switch using Flex) */
.comp-switch-fx {
  display: flex;
  background-color: gray;
  border-radius: 70px;
  box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
  transition: background 0.2s linear;
  padding: 10px;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
}

.comp-switch-fx.disable {
  background-color: grey !important;
  cursor: no-drop;
  opacity: 0.2;
}

.btn-dot-fx {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}

.comp-switch-fx.disable > .btn-dot-fx {
  background-color: white !important;
  opacity: 1 !important;
  cursor: no-drop;
}

.btn-dot-fx.small {
  width: 15px;
  height: 15px;
}

.btn-dot-fx.large {
  width: 25px;
  height: 25px;
}

.comp-switch.small,
.comp-switch-fx.small {
  width: 30px;
  height: 15px;
  border-radius: 70px;
  padding: 2px;
}

.comp-switch.medium,
.comp-switch-fx.medium {
  width: 40px;
  height: 20px;
  border-radius: 70px;
  padding: 3px;
}

.comp-switch.large,
.comp-switch-fx.large {
  width: 50px;
  height: 25px;
  border-radius: 70px;
  padding: 5px;
}

/* For Switch  */
.btn-dot {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s ease-out;
  box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}

.comp-switch {
  display: block;
  background-color: gray;
  border-radius: 70px;
  padding: 10px;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
  box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
  position: relative;
}

.comp-switch.disable {
  background-color: grey !important;
  opacity: 0.2;
  cursor: no-drop;
}

.comp-switch.disable > .btn-dot {
  background-color: white !important;
  opacity: 1 !important;
  cursor: no-drop;
}

.btn-dot.small {
  width: 15px;
  height: 15px;
}

.btn-dot.large {
  width: 25px;
  height: 25px;
}

.btn-dot.checked {
  left: calc(100% - 20px);
}

.btn-dot.small.checked {
  left: calc(100% - 15px);
}

.btn-dot.large.checked {
  left: calc(100% - 25px);
}
