html, body {
    min-height: 100%;
}

.nav.flex-column{
    width:305px
}
.pet-container{
    min-width:90vw !important;
}
body{
    min-height: 100%;
    max-width: 100vw;
    background: linear-gradient(45deg, #FFC964 50%, #06C4CE 50%);
}

a{
    color: inherit;
}

.content{
    min-width:90vw;
}

#usernameDiv img  {
    border-radius: 50px;
    margin: 2px
}

#usernameDiv {
    margin: 0 10px 0 10px;
}

.cont{
    max-width:90vw;
    min-height:90vh;
    background-color: white;
    box-shadow: 0 0 30px grey;
    margin-top:5vh;
    box-sizing:content-box;
    padding:0;
    display:flex;
    flex-direction: column;
    Overflow: hidden;
}

.bigBox{
    display: flex;
    flex-grow: 1;
}

#console-menu {
    width:305px;
}


.console{
    background-color: rgb(6, 196, 206);
    padding: 30px;
    /* padding-left: 60px; */
    font-size: 20px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    color: white;
}

li a:hover {
    color: #FFC964;
}

.bar{
    width: 100%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler{
    border:0px;
}

/* .content{
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
} */

.jscolor{
    width:125px;
}

@keyframes button {
    from {background-color: rgb(236, 236, 236);}
    to {background-color: white;}
}


.pet-img {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: auto;
    margin-bottom: auto; */
}


.character {
    width: 240px;
    /* height: 200px; */
    /* border: solid 2px #000000 */
    text-align: center;
    padding: 30px;
    border-radius: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid thick white;
    background: rgb(255, 255, 255, 0.7);
}


#menu-toggle-div{
    font-size: 30px;
}


.hidden{
    margin-left: -365px;
}

.active-pet {
    background-color: #fdde99;
    border: solid 5px #ffd374;
}

.character:hover{
    animation-name: select;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes select {
    from {background-color: none;}
    to {background-color: #fdde99;
        border: solid thick #ffd374;}
  }

.character-box {
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    height: 100%;
    margin-top: 20px;
}

.character-box > div {
    flex-grow:1;
}

.submit-btn{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.submit-btn input{
    margin-bottom: 10px;
}

@media screen and (max-width: 909px) {
    .row {
        display:flex;
        flex-direction: column;
        align-items:center;
        flex-wrap:wrap;
        height: 100%;
    }
    .character {
        margin: 5px auto 5px auto !important;
    } 
}

@media screen and (max-width: 768px) {
    .character {
        margin: 5px auto 5px auto !important;
    } 
}

#menu-toggle-div{
    font-size: 30px;
    margin-right: 1rem;
}

.row{
    height: 40%;
    margin: 0;
}

.navbar-brand img{
    width: 150px;
    height: 50px;
}

.fa-ellipsis-v {
    color: #FFC964
}

.fa-ellipsis-v:active, .fa-ellipsis-v:focus {
    color: #06C4CE;
}

.btn-outline-success {
    background: #FFC964;
    border: none;
    border: solid 1px #FFC964;
    border-radius: 8px;
    margin: 4px;
    color: white;
}

.btn-outline-success:hover {
    color: #FFC964;
    background: #FFFFFF;
    border: solid 1px #FFC964;
    
}

.btn-outline-success:focus, .btn-outline-success:not(:disabled):not(.disabled):active {
    color: #FFFFFF;
    background-color: #ffa600;
    border-color: #ffa600;
    box-shadow: 0 0 0 0.2rem rgba(255, 166, 0, 0.5);
}

.bigBox > .container-fluid {
    background-image: url(./wallpaper-bg-only.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}